.dashboard-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 10px;
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.main-dashboard {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 10px;
}

.left-column {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
}

.current-weather,
.weather-forcast,
.favorites {
  border: 1px solid var(--glass-border);
  border-radius: 20px;
  background-color: var(--card-bg);
  width: 100%;
}

.favorites::-webkit-scrollbar {
  width: 6px;
}
.favorites::-webkit-scrollbar-thumb {
  background: var(--glass-bg);
  border-radius: 10px;
}

/* Responsive for tablet-sized screens (768px–1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  .main-dashboard {
    flex-direction: row;
    gap: 1rem;
  }

  .left-column {
    flex: 3; 
    max-width: 60%;
  }

  .favorites {
    flex: 1;
    height: auto;
    max-height: calc(100vh - 150px);
    overflow-y: auto;
  }

  .current-weather,
  .weather-forcast {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .main-dashboard {
    flex-direction: row;
    gap: 2rem;
  }

  .left-column {
    flex: 3;
  }

  .favorites {
    flex: 1;
    max-height: calc(100vh - 150px);
    overflow-y: auto;
  }
}
